[submodule "plugins-amplify"]
	path = plugins/amplify
	url = https://github.com/appcelerator/appcd-plugin-amplify.git
[submodule "plugin-android"]
	path = plugins/android
	url = https://github.com/appcelerator/appcd-plugin-android.git
[submodule "plugin-ios"]
	path = plugins/ios
	url = https://github.com/appcelerator/appcd-plugin-ios.git
[submodule "plugin-jdk"]
	path = plugins/jdk
	url = https://github.com/appcelerator/appcd-plugin-jdk.git
[submodule "plugin-system-info"]
	path = plugins/system-info
	url = https://github.com/appcelerator/appcd-plugin-system-info.git
[submodule "plugin-titanium"]
	path = plugins/titanium
	url = https://github.com/appcelerator/appcd-plugin-titanium.git
[submodule "plugin-windows"]
	path = plugins/windows
	url = https://github.com/appcelerator/appcd-plugin-windows.git

